<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Download your MP3</title>
    <link rel="stylesheet" href="/css/main.css" />
    <!-- Add your custom styles here -->
  </head>
  <body>
    <h1>Your MP3 is ready!</h1>
    <div class="btn-group">
    <button id="download-btn">
      <a id="download-link" download href="#">Click Here To Download</a>
    </button>
    <button id="convert-btn">
      <a id="convert" href="">Convert Another</a>
    </button>
  </div>
    <script>
      // Get the filename from the URL parameters and update the download link
      const params = new URLSearchParams(window.location.search);
      const filename = params.get("file");
      const linkElement = document.getElementById("download-link");
      linkElement.href = `/MP3-Files/${filename}`;
    </script>
  </body>
</html>
