<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="../public/css/main.css" />  -->
    <title>YT to MP3</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/BebasNeue-Regular.ttf" />
  </head>
  <body>
    <h1>YouTube To MP3 Converter</h1>
    <div class="container">
      <form id="myForm" autocomplete="off">
        <input type="text" id="myInput" placeholder="Enter YouTube URL" />
        <button type="submit">Convert</button>
      </form>
    </div>
    <p id="afterClick">Converting...</p>
    <div class="dots-loading">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <script>
      $(document).ready(function () {
        $("#myForm").on("submit", function (e) {
          e.preventDefault();
          $("#afterClick").fadeIn();
          var filename = window.prompt("Enter a filename for your download");

          $.ajax({
            url: "/convert",
            type: "post",
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
              // redirect to the mp3 file
              window.location.href = data.link;
            },
            error: function (err) {
              alert("An error occurred:", err);
            },
            data: JSON.stringify({
              url: $("#myInput").val(),
              filename: filename,
            }),
            complete: function () {
              $("#afterClick").fadeOut(); // Hide the dots once AJAX request is complete
            },
          });
          $("#myInput").val("");
          document.getElementById("afterClick").style.display = "flex";
          document.body.style.cursor = "progress";
        });
        // When some event happens...
      });
    </script>
  </body>
</html>
