@font-face {
  font-family: Bebas;
  src: url(/styles/BebasNeue-Regular.ttf);
}

body {
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

h1 {
  border: 1px currentColor;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  font-family: "Bebas", sans-serif;
  font-size: 55px;
  color: rgb(185, 248, 227);
}
.container {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  border-radius: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

button {
  margin-left: 10px;
  padding: 10px 15px;
  transition: all 0.3s ease; /* Adding transition for smooth animation */

  /* Default styles */
  background-color: rgb(185, 248, 227);
  border: none;
  border-radius: 5px;
  color: #333;
}

button:hover {
  background-color: rgb(116, 237, 197);
  border-radius: 7px;
  color: #fff;
  transform: scale(1.1); /* Increasing the size on hover */
  cursor: pointer;
}
